@use '../general/colors' as *;

.areas-practica {
    height: 100%;

    &__grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 30%);
        gap: 20px;
        height: 100%;
    }

    &__card {
        display: flex; flex-wrap: wrap; flex-direction: column; justify-content: center;
    }

    &__card-title {
        max-width: 200px;
        color: $gold;
        text-align: center;
        margin-bottom: 20px;
    }

    &__card-list {
        width: 100%;
        color: white;
        list-style: disc;
    }   
}