@use '../general/colors' as *;

.contacto {
    background-color: $whiteBackground;
    height: 100%;
    display: flex; align-items: center;

    &__subcontainer {
        display: flex;
    }

    &__contact-info,
    &__direccion {
        width: 50%;
    }

    a,
    p {
        display: flex; align-items: center;
        margin-bottom: 12px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    a {
        img {
            margin-right: 12px;
        }
    }

    &__map {
        width: 100%; height: 400px;
    }
}