@use '../general/resets' as *;

.profesionales {
    padding-bottom: 150px;

    // Load Animation
    .aos-animate {
        @for $cardNumber from 1 through 2 {
            .profesionales__card-profesional:nth-child(#{$cardNumber}) {
                animation: fadeInUp 1s $cardNumber/4+s forwards;
            }
        }
    }

    &__card-container {
        display: flex; justify-content: space-between;
    }

    &__card-profesional {
        position: relative;
        opacity: 0;
        width: 48%; height: 600px;
        border-radius: 5px;
        overflow: hidden;

        &--frente,
        &--reverso,
        &--overlay {
            position: absolute; top: 0; right: 0; bottom: 0; left: 0;
        }
        
        &--frente {
            opacity: 1;
            transition: $tranFast;
        }

        &--reverso {
            opacity: 0;
            color: white;
            padding: 30px;
        }

        &:hover {

            .profesionales__card-profesional--frente {
                transform: scale(1.05);
                transition: $tranFast;
            }

            .profesionales__card-profesional--reverso {
                opacity: 1;
                background-color: rgba(black, .7);
                transition: $tranFast;
            }
        }
    }

    &__card-img-container {
        width: 100%; height: 100%;

        img {
            width: 100%; height: 100%;
            object-fit: cover;
        }
    }

    &__education {

        ul {

            li {
                margin-bottom: 12px;
                display: flex;

                img {
                    margin-right: 12px;
                }
            }
        }
    }

    &__links {
        display: flex; 
        margin-top: 50px;

        a {
    
            &:first-child {
                margin-right: 24px;
            }

            img {
                width: 75px; height: 75px;
            }
        }
    }

    &__card-nombre {
        position: absolute; bottom: -80px; z-index: 10;
        width: 100%;
    }
}