@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  outline: none;
}

footer,
section {
  display: flex;
  justify-content: center;
  padding-top: 60px;
  padding-bottom: 60px;
}

h1, h2, h3, h4, h4, h5, h6 {
  margin: 0;
}

a,
a:visited {
  color: initial;
  text-decoration: initial;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container-xl {
  width: 100%;
  max-width: 1440px;
  padding-left: 10px;
  padding-right: 10px;
}

.container-lg {
  width: 100%;
  max-width: 1180px;
  padding-left: 10px;
  padding-right: 10px;
}

h1, h2, h4, h4, h5, h6 {
  color: #333333;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

.section-title {
  opacity: 0;
  margin-bottom: 40px;
}

.aos-animate .section-title {
  animation: fadeInUp 1s forwards;
}

p {
  color: #333333;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
nav {
  position: relative;
  z-index: 20;
  display: flex;
  justify-content: center;
  height: 80px;
  background-color: white;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
nav .navbar__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .logo {
  max-width: 250px;
}
nav .menu {
  display: flex;
}
nav .menu li {
  position: relative;
  font-weight: 500;
  margin-right: 24px;
  padding-bottom: 4px;
  text-transform: uppercase;
}
nav .menu li:last-child {
  margin-right: 0;
}
nav .menu li:hover a {
  color: #DBD084;
  transition: 1s;
}
nav .menu li:hover a::after {
  transform: scale(1);
  transition: 1s;
}
nav .menu li a {
  transition: 1s;
}
nav .menu li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #DBD084;
  transition: 1s;
  transform: scale(0);
  transform-origin: center;
}

.hamburger-menu__container {
  display: none;
  width: 50px;
  height: 50px;
  position: relative;
}
@media (max-width: 992px) {
  .hamburger-menu__container {
    display: flex;
  }
}
.hamburger-menu__lines span {
  background-color: black;
  width: 40px;
  height: 2px;
  position: absolute;
  left: 5px;
}
.hamburger-menu__lines :nth-child(1) {
  top: 15px;
  transition: 0.5s ease-in-out;
}
.hamburger-menu__lines :nth-child(2) {
  top: 25px;
  transition: 0.5s ease-in-out;
}
.hamburger-menu__lines :nth-child(3) {
  top: 35px;
  transition: 0.5s ease-in-out;
}
.hamburger-menu__lines.open span {
  background-color: red;
  width: 40px;
  height: 2px;
  position: absolute;
  left: 5px;
}
.hamburger-menu__lines.open :nth-child(1) {
  top: 25px;
  transform: rotate(135deg);
  transition: 0.5s ease-in-out;
}
.hamburger-menu__lines.open :nth-child(2) {
  top: 25px;
  opacity: 0;
  transition: 0.2s ease-in-out;
}
.hamburger-menu__lines.open :nth-child(3) {
  top: 25px;
  transform: rotate(-135deg);
  transition: 0.5s ease-in-out;
}

.hero {
  position: relative;
  background-image: url(img/foto-tribunales4.jpg);
  background-size: cover;
  background-position: center;
  height: 60vh;
}
.hero .aos-animate .hero__title {
  animation: fadeInUp 1s forwards;
}
.hero .aos-animate .hero__subtitle {
  animation: fadeInUp 1s 0.5s forwards;
}
.hero__container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.hero__header {
  background-color: rgba(32, 36, 40, 0.3);
  width: 80%;
  padding: 2%;
}
.hero__title, .hero__subtitle {
  opacity: 0;
  color: white;
}

.areas-practica .aos-animate .areas-practica__card:nth-child(1) {
  animation: fadeInUp 1s 0.25s forwards;
}
.areas-practica .aos-animate .areas-practica__card:nth-child(2) {
  animation: fadeInUp 1s 0.5s forwards;
}
.areas-practica .aos-animate .areas-practica__card:nth-child(3) {
  animation: fadeInUp 1s 0.75s forwards;
}
.areas-practica .aos-animate .areas-practica__card:nth-child(4) {
  animation: fadeInUp 1s 1s forwards;
}
.areas-practica .aos-animate .areas-practica__card:nth-child(5) {
  animation: fadeInUp 1s 1.25s forwards;
}
.areas-practica .aos-animate .areas-practica__card:nth-child(6) {
  animation: fadeInUp 1s 1.5s forwards;
}
.areas-practica .aos-animate .areas-practica__card:nth-child(7) {
  animation: fadeInUp 1s 1.75s forwards;
}
.areas-practica .aos-animate .areas-practica__card:nth-child(8) {
  animation: fadeInUp 1s 2s forwards;
}
.areas-practica .aos-animate .areas-practica__card:nth-child(9) {
  animation: fadeInUp 1s 2.25s forwards;
}
.areas-practica .aos-animate .areas-practica__card:nth-child(10) {
  animation: fadeInUp 1s 2.5s forwards;
}
.areas-practica__grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 150px);
  gap: 20px;
}
.areas-practica__card {
  position: relative;
  opacity: 0;
  width: 100%;
  height: 100%;
  background-color: #DBD084;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}
.areas-practica__card--frente, .areas-practica__card--reverso {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: grid;
  place-items: center;
}
.areas-practica__card--frente {
  opacity: 1;
}
.areas-practica__card--frente h4 {
  text-align: center;
}
.areas-practica__card--reverso {
  opacity: 0;
}
.areas-practica__card:hover .areas-practica__card--frente {
  opacity: 0;
}
.areas-practica__card:hover .areas-practica__card--reverso {
  opacity: 1;
}

.profesionales {
  padding-bottom: 150px;
}
.profesionales .aos-animate .profesionales__card-profesional:nth-child(1) {
  animation: fadeInUp 1s 0.25s forwards;
}
.profesionales .aos-animate .profesionales__card-profesional:nth-child(2) {
  animation: fadeInUp 1s 0.5s forwards;
}
.profesionales__card-container {
  display: flex;
  justify-content: space-between;
}
.profesionales__card-profesional {
  position: relative;
  opacity: 0;
  width: 48%;
  height: 600px;
  border-radius: 5px;
  overflow: hidden;
}
.profesionales__card-profesional--frente, .profesionales__card-profesional--reverso, .profesionales__card-profesional--overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.profesionales__card-profesional--frente {
  opacity: 1;
  transition: 0.3s linear;
}
.profesionales__card-profesional--reverso {
  opacity: 0;
  color: white;
  padding: 30px;
}
.profesionales__card-profesional:hover .profesionales__card-profesional--frente {
  transform: scale(1.05);
  transition: 0.3s linear;
}
.profesionales__card-profesional:hover .profesionales__card-profesional--reverso {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.7);
  transition: 0.3s linear;
}
.profesionales__card-img-container {
  width: 100%;
  height: 100%;
}
.profesionales__card-img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.profesionales__education ul li {
  margin-bottom: 12px;
  display: flex;
}
.profesionales__education ul li img {
  margin-right: 12px;
}
.profesionales__links {
  display: flex;
  margin-top: 50px;
}
.profesionales__links a:first-child {
  margin-right: 24px;
}
.profesionales__links a img {
  width: 75px;
  height: 75px;
}
.profesionales__card-nombre-container {
  position: absolute;
  bottom: 0px;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  padding: 10px 0;
  min-height: 88px;
}
.profesionales__card-nombre {
  text-align: center;
  color: white;
}

.contacto {
  background-color: #202428;
}
.contacto .aos-animate .contacto__contact-info > a:nth-child(1) {
  animation: fadeInUp 1s 0.25s forwards;
}
.contacto .aos-animate .contacto__contact-info > a:nth-child(2) {
  animation: fadeInUp 1s 0.5s forwards;
}
.contacto .aos-animate .contacto__contact-info > a:nth-child(3) {
  animation: fadeInUp 1s 0.75s forwards;
}
.contacto .aos-animate .contacto__direccion > p {
  animation: fadeInUp 1s forwards;
}
.contacto .aos-animate .mapouter {
  animation: fadeInUp 1s 0.5s forwards;
}
.contacto .section-title,
.contacto a,
.contacto p {
  color: white;
}
.contacto__subcontainer {
  display: flex;
}
.contacto__contact-info, .contacto__direccion {
  width: 50%;
}
.contacto a,
.contacto p {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  opacity: 0;
}
.contacto a:last-child,
.contacto p:last-child {
  margin-bottom: 0;
}
.contacto a img {
  margin-right: 12px;
}
.contacto__map {
  width: 100%;
  height: 400px;
}
.contacto .mapouter {
  opacity: 0;
}

/*# sourceMappingURL=styles.css.map */
