* {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    outline: none;
}
section {
    display: flex; justify-content: center;
}
h1, h2, h4, h4, h5, h6 {
    margin: 0;
}
a,
a:visited {
    color: initial;
    text-decoration: initial;
}

ul {
    list-style: none;
}