* {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
    //background-color: #F1F1F1;
}
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    outline: none;
}
footer,
section {
    display: flex; justify-content: center;
    padding-top: 60px; padding-bottom: 60px;
}
h1, h2, h3, h4, h4, h5, h6 {
    margin: 0;
}
a,
a:visited {
    color: initial;
    text-decoration: initial;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

$tranFast: .3s linear;
$tranNormal: .5s linear;
$tranSlow: 1s linear;