$textBlack: rgb(51, 51, 51);
$textWhite: white;

h1, h2, h4, h4, h5, h6 {
    color: $textBlack;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 30px;
}

.section-title {
    opacity: 0;
    margin-bottom: 40px;
}
.aos-animate {
    .section-title {
        animation: fadeInUp 1s forwards;
    }
}

p {
    color: $textBlack;
}